/* reset */
* { margin: 0px; padding: 0px; }

/* body */
body {
	background-color: #25292A;
	color: #979797;
	font-family: 'Inconsolata', Menlo, Monaco, Consolas, "Courier New", monospace;
	font-size: 20px;
	margin: 10vmin;
}

/* colors */
a       { color: #C4C4C4; }
a:hover { color: #77ACC5; }
#nick   { color: #35393A; }
#hi     { color: #E3E3E3; }
h2      { color: #B0B0B0; }
h3      { color: #C4C4C4; }
.owl-theme .owl-controls .owl-page span { background: #77ACC5; }

/* links */
a {
	border-bottom: 2px dotted #393D3E;
	text-decoration: none;
	-webkit-transition: color 200ms ease, border-bottom-color 200ms ease;
	-moz-transition:    color 200ms ease, border-bottom-color 200ms ease;
	-ms-transition:     color 200ms ease, border-bottom-color 200ms ease;
	-o-transition:      color 200ms ease, border-bottom-color 200ms ease;
	transition:         color 200ms ease, border-bottom-color 200ms ease;
}

a:hover { border-bottom-color: #77ACC5; }

/* sizes */
/* old one, ~same width:
#nick { font-size: 16.00vmin; }
#hi   { font-size:  8.50vmin; }
h2    { font-size:  3.25vmin; }
*/
#nick { font-size: 16.0vmin; }
#hi   { font-size: 11.0vmin; }
h2    { font-size:  5.0vmin; }
h3    { font-size:  2.5vmin; }
p     { font-size:  2.2vmin; }

@media screen and (max-width: 700px), screen and (max-height: 700px) {
	h3    { font-size: 18px; }
	p     { font-size: 16px; }
}

@media screen and (max-width: 400px), screen and (max-height: 400px) {
	#nick { font-size: 50px; }
	#hi   { font-size: 26px; }
	h2    { font-size: 20px; }
}

/* spaces */
h1 { padding-bottom: 2vmin; }
h2 { padding-bottom: 10vmin; }
h3 { padding-bottom: 1vmin; }
#projects p { margin-bottom: 4vmin; width: 90%; }

/* footer */
footer {
	margin-top: 50px;
	text-align: center;
}

footer > a {
	border: none;
	font-size: 24px;
	margin: 5px;
}