---
import { getCollection } from 'astro:content';
const posts = await getCollection('posts');
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link
			rel="icon"
			type="image/svg+xml"
			href="/favicon.svg"
		/>
		<meta
			name="viewport"
			content="width=device-width"
		/>
		<meta
			name="generator"
			content={Astro.generator}
		/>
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>
		<ul>
			{
				posts.map((p) => (
					<li>
						<a href={`/blog/${p.slug}`}>{p.data.title}</a>
						<span>({p.data.date.toLocaleDateString('hu')})</span>
					</li>
				))
			}
		</ul>
	</body>
</html>
