---
import BaseLayout from '../layouts/BaseLayout.astro';
import Portfolio from '../components/Portfolio.astro';
---

<BaseLayout
	lang="hu"
	title="Üdv!"
>
	<h1>Astro</h1>
	<Portfolio lang="hu" />
</BaseLayout>
