---
import Icon from 'astro-icon';
import type { Lang } from '../content/config';

type Props = {
	lang: Lang;
};
const { lang } = Astro.props;
---

<a href={`/blog/${lang}/`}>
	<Icon
		class="h-8 w-8"
		name="carbon:blog"
	/>
</a>
