---
import { ThemeSwitch } from 'astro-color-scheme';
import { Icon } from 'astro-iconify';
import NavLink from './NavLink.astro';
---

<NavLink
	as="label"
	class="cursor-pointer"
	for="darkmode"
>
	<ThemeSwitch
		defaultTheme="light"
		strategy="checkbox"
	>
		<input
			class="hidden"
			id="darkmode"
			type="checkbox"
		/>
		<div class="relative h-[1.5em] w-[1.5em]">
			<Icon
				class="absolute inset-0 transition-transform dark:scale-0"
				name="carbon:sun"
			/>
			<Icon
				class="absolute inset-0 scale-0 transition-transform dark:scale-100"
				name="carbon:moon"
			/>
		</div>
	</ThemeSwitch>
</NavLink>
