---
import type { Lang } from '../content/config';
import CenteredContainer from './CenteredContainer.astro';
import FormattedContent from './FormattedContent.astro';
import NavLink from './NavLink.astro';

type Props = {
	lang: Lang;
};
const { lang } = Astro.props;

const allRights: Record<Lang, string> = {
	en: 'All rights reserved.',
	hu: 'Minden jog fenntartva.',
};
---

<div class="mt-auto pt-16">
	<footer class="border-t border-t-gray-200 dark:border-t-gray-700">
		<CenteredContainer class="flex items-center justify-between py-2">
			<FormattedContent>
				<div class="text-gray-600 dark:text-gray-400">
					&copy; 2013-{new Date().getFullYear()} Zsolt Jurányi. {allRights[lang]}
				</div>
			</FormattedContent>
			<NavLink
				href="#top"
				icon="carbon:arrow-up"
			/>
		</CenteredContainer>
	</footer>
</div>
