---
import { Icon } from 'astro-icon';
import type { AltLinks, Lang } from '../content/config';

type Props = {
	alt: AltLinks;
	current: Lang;
};
const { alt, current } = Astro.props;
const nextLang: Lang = current === 'hu' ? 'en' : 'hu';
const nextUrl = alt ? alt[nextLang] : '/';
---

<a href={nextUrl}>
	<Icon
		class="h-8 w-8"
		name="carbon:language"
	/>
</a>
