---
import type { Lang } from '../content/config';

type Props = {
	label: string;
	lang: Lang;
	path: 'blog' | 'projects';
};
const { label, lang, path } = Astro.props;

const isActive = Astro.url.pathname.includes(path);
---

<a
	class:list={['hover:underline', isActive && 'underline']}
	href={`/${path}/${lang}/`}
>
	{label}
</a>
