---
import type { CollectionEntry } from 'astro:content';

interface Props {
	post: CollectionEntry<'posts'>;
}
const { post } = Astro.props;
---

<li>
	<a href={`/blog/${post.slug}`}>{post.data.title}</a>
	<span>({post.data.date.toLocaleDateString('hu')})</span>
</li>
