---
import type { CollectionEntry } from 'astro:content';

type Props = {
	post: CollectionEntry<'posts'>;
};
const { post } = Astro.props;
---

<li>
	<a href={`/blog/${post.slug}`}>{post.data.title}</a>
	<span>({post.data.date.toLocaleDateString(post.data.lang)})</span>
</li>
