---
import { getCollection } from 'astro:content';
import type { Lang } from '../content/config';
import PostCard from './PostCard.astro';

type Props = {
	lang: Lang;
};
const { lang } = Astro.props;

const posts = await getCollection('blog');
const postsOfLang = posts.filter((p) => p.data.lang === lang);
postsOfLang.sort((a, b) => b.data.date.getTime() - a.data.date.getTime());
---

<div class="grid auto-rows-fr gap-8 md:grid-cols-2 xl:grid-cols-3">
	{postsOfLang.map((p) => <PostCard post={p} />)}
</div>
