---
layout: page
css:
 - "category.css"
---

{{ content }}

{% if null == site.categories[page.category] %}
	<p>{{ page.no_post }}</p>
{% else %}
	<ul>
		{% for post in site.categories[page.category] %}
		<li class="listed-post">
			<a href="{{ post.url }}">{{ post.title }}</a>
			<time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%b %-d, %Y" }}</time>
			{% for tag in post.tags %}
				<span class="tag">{{ tag }}</span>
			{% endfor %}
			<br>
			<span class="excerpt">{{ post.excerpt | strip_html }}</span>
		</li>
		{% endfor %}
	</ul>
{% endif %}