---
import type { Lang } from '../content/config';

type Props = {
	lang?: Lang;
};
const { lang } = Astro.props;
---

<html lang={lang}>
	<head>
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width"
		/>
		<meta
			name="generator"
			content={Astro.generator}
		/>
		<link
			rel="icon"
			type="image/svg+xml"
			href="/favicon.svg"
		/>
		<link
			rel="sitemap"
			href="/sitemap-index.xml"
		/>
		<slot name="head" />
	</head>
	<body>
		<slot />
	</body>
</html>
